[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
django-cms = "*"
aldryn-style = "*"
django-filer = "*"
djangocms-link = "*"
djangocms-file = "*"
djangocms-picture = "*"
djangocms-video = "*"
djangocms-googlemap = "*"
djangocms-snippet = "*"
djangocms-style = "*"
djangocms-text-ckeditor = "*"
djangocms-bootstrap4 = "*"
django-admin-sortable = "*"

[dev-packages]

[requires]
python_version = "3.10"
