

{% load cms_tags static %}

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="section-headline services-head text-center">
        <h2>Products and Services</h2>
      </div>
    </div>
    <div class="d-inline-flex flex-wrap">
    {% for category in categories %}
    {% render_model_block category %}
    <div class="product">
      <div class="recent-single-post">
        <a href="#">
          <h4>{{ instance.name }}</h4>
        </a>
        <div class="product-img">
          <img src="media/{{instance.avatar}}" alt="{{ instance.name }}">
        </div>
        <div class="pst-content">
          <p>
            <a href="#">{{ instance.descn|truncatewords:50 }}</a>
          </p>
        </div>
      </div>
    </div>
    {% endrender_model_block %}
    {% endfor %}
    </div>
  </div>

<h3><a href="#">{{ addcategory.title }}</a> {% render_model_add addcategory %}</h3>

<!--
  this wil be used later
  {{ ProductCategory.get_absolute_url }}
-->