
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

.background-item{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  position: relative;
  background: #fff none repeat scroll 0 0;
  color: #444;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  overflow-x: hidden;
  line-height: 22px;
}
a:focus {
  outline: 0px solid;
}
img {
  width: 100%;
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  margin: 0 0 15px;
  font-weight: 500;
}
a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
a:hover {
  color: #2ecc71;;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
.clear {
  clear: both;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
input, select, textarea, input[type=text], input[type=date], input[type=url], input[type=email], input[type=password], input[type=tel], button, button[type=submit] {
  -moz-appearance: none;
  appearance: none;
  box-shadow: none !important;
}
.rel_positn{
  position: relative;
}
.centerflx{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-group{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.card-title{
  display: flex;
  flex-wrap: nowrap;
}
.flxwrap{
  display: inline-flex;
  flex-wrap: nowrap;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header{
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 997;
  transition: all 0.5s #2ecc71;;
  background: rgba(13, 51, 24, 1.0);
  position: fixed;
}
#header .header-scrolled {
  background: rgba(13, 51, 24, 1.0);
  height: 64px;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#header .logo img {
  width: 80px;
  overflow: hidden;
  background-size: contain;
  font-weight: 900;
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.header-bg {
  background: url(../img/background/page-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 120px 0 60px;
}
.header-bg::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
@media (min-width: 1025px) {
  .header-bg {
    background-attachment: fixed;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.logo{
  margin-left: 5rem;
}
.active-link a{
  color: #8a8a8a !important;
}
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #2ecc71;;
}
::-moz-selection {
  background: #2ecc71;;
  text-shadow: none;
}
::selection {
  background: #2ecc71;;
  text-shadow: none;
}
.area-padding {
  padding: 50px 0px 10px;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #2ecc71;;
  width: 40px;
  height: 40px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #2ecc71;;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.area-padding-2 {
  padding: 70px 0px 50px;
}

.padding-2 {
  padding-bottom: 90px;
}

.fwt-padding {
  padding-top: 60px;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-area {
  padding: 40px 0;
  background: #f9f9f9;
}

.footer-head p {
  color: #444;
}

.footer-head h4 {
  color: #444;
  font-size: 16px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.footer-logo {
  padding-bottom: 20px;
}

.footer-logo h2 {
  color: #222;
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.footer-logo h2 span {
  color: #3ec1d5;
}

.footer-icons ul li {
  display: inline-block;
}
.title-icon{
  display: inline-block;
  border: 1px solid #444;
  color: #444;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
}
#share > button, #share > ul li a, .footer-icons ul li a{
  border: 1px solid #444;
  color: #444;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
.footer-icons ul li a i {
  line-height: 0;
}

.flicker-img > a {
  float: left;
  padding: 1px;
}

.footer-icons {
  margin-top: 30px;
}

.footer-contacts p span {
  color: #2ecc71;;
  font-weight: 700;
}

.footer-content {
  display: block;
  overflow: hidden;
  padding: 5px;
}
.footer-head h4{
  margin-top: 50px;
  font-weight: bold;
}
.footer-area-bottom {
  background: #f1f1f1 none repeat scroll 0 0;
  padding: 10px 0;
}
